:host span.wrapper {
    position: relative;
}
:host #iconWrapper {
    /*position: absolute;
    display: block;
    right: 5px;
    top: 0px; */
    position:relative;
    cursor: pointer;
    width: 12px;
    height: 12px;
}
:host #iconWrapper iron-icon {
    position: absolute;
    display: block;
    right: 5px;
    top: 0px; 
	width: 12px;
	height: 12px;
}